*{
    padding: 0;
    margin: 0;
}
/*...Header...*/
header{
    width: 100%;
    background: #00000099;
    height: 90px;
    position: fixed;
    transition: background 0.5s;
}
.header-area {
    width:80%;
    height: 90px;
    margin: auto;
}
.logo{
    width: 30%;
    height:90px;
    float: left;
}
.logo img{
    width: 90px;
    padding-left: 20px;
}
.navegacion{
    width: 70%;
    height: 90px;
    float: left;
    text-align: right;
    padding-top: 40px;
    box-sizing: border-box;
}
.navegacion ul {
    list-style: none;
}
.navegacion ul>li{
    position: relative;
	display: inline-block;
}
.navegacion  ul li a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
    font-family: ABeeZee;
}
.navegacion ul li a:hover{
color: crimson;
transition: all .3s;
}
@font-face{
    font-family:ABeeZee;
    src: url(../fonts/ABeeZee-Regular.ttf);
}
.submenu{
    position:absolute;
    text-align: center;
    visibility: hidden;
    background: pink;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .9s;
}
.submenu li {
    padding-top: 20px;
    padding-bottom:20px ;
}
.navegacion li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.menu .active{
    color:crimson;
}

/*...Slider...*/

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 28s infinite alternate linear;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*...Slider2...*/
.slider2{
    background: crimson;
    width: 100%;
    height: 350px;
    line-height: 320px;
    text-shadow: 0px 0px 5px #4444;
    color: black;
}
.slider2 h2{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 100px;
    color: blanchedalmond;
}

/*...Slider3...*/
.slider3{
    background: aquamarine;
    width: 100%;
    height: 350px;
    line-height: 320px;
    text-shadow: 0px 0px 5px #4444;
    color: black;
}
.slider3 h2{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 100px;
    color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*...Slider4...*/
.slider4{
    background: steelblue;
    width: 100%;
    height: 350px;
    line-height: 320px;
    text-shadow: 0px 0px 5px #4444;
    color: black;
}
.slider4 h2{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 100px;
    color: blanchedalmond;
}

/*...Slider5...*/
.slider5{
    background: #fefcff;
    width: 100%;
    height: 350px;
    line-height: 320px;
    text-shadow: 0px 0px 5px #4444;
    color: black;
}
.slider5 h2{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 100px;
    background: linear-gradient(30deg,#6f72e7,#67fa67);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*...SliderHome...*/
.slider-home{
    background: #252932;
    width: 60%;
    padding: 30px 20%;
    color: white;
}
.slider-home-text p{
    margin-top: 10px;
}
.slider-home-text a{
    color: white;
}
.slider-home-text a:hover{
    color: gold;
    text-decoration: underline;
    transition: 0.9s;
}

/*...Categorias-box...*/

.categorias{
    margin-top: 50px;
    margin-bottom: 30px;
}
.categorias h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}
.container-categoria{
    width: 1200px;
    height: 700px;
    background: gray;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.item-categoria{
    background: crimson;
    color: #fff;
    float: left;
    width: 23.5%;
    flex: none;
    margin-bottom: 2%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.box-categoria {
    margin: 30px;
}
.box-categoria img{
    width: 150px;
    margin: 15px;
}
.box-categoria a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    width: 100%;
    margin: auto;
}
.box-categoria a:hover{
    text-decoration: underline;
    color: cyan;
    transition: 0.5s;
}
.inline-categoria{
    display: flex;
    margin-top: 10px;
}
.box-categoria span{
    background: white;
    color: crimson;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 6px;;
}
.box-categoria p{
    color:black;
    font-size: 19px;
    margin-left: 5px;
}

/*...Footer...*/
 footer{
    width: 100%;
    background: #252932;
    color: white;
    padding: 40px 0px;
    
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding:40px;
}
.container-body{
    display: flex;
    justify-content: center;
    margin-right: 400px;
}
.colum1{
    max-width:600px ;
    margin-right: 80px;
}
.colum1 h1{
    font-size:22px;
}
.colum1 p{
    font-size: 16px;
    color: #C7C7C7;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
}
.colum2 h1{
    font-size: 22px;
    margin-bottom: 20px;
}
.colum2 .row{
    margin-top: 20px;
    display: inline;
}
.colum2 p{
    margin-top: 10px;
    font-size: 18px;
}
.row img{
    width: 36px;
    height: 36px;
}
.row1 label{
    color:#C7C7C7;
}
.row label{
    margin-top: 10px;
}
.colum3{
    max-width: 400px;
}
.colum3 h1{
    font-size: 20px;
}
.row2{
    margin-top:20px;
}
.row2 label{
    display: flex;
    max-width: 150px;
    margin-top: 10px;
}
.container-footer{
    width: 100%;
    background: silver;
    display:flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.copyright{
    color: white;
}
.copyright a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*...Tabla-Lista...*/

.table-info{
   width: 100%;
    margin:  0 auto;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 48px auto;
    border-radius: 5px;
} 
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#customers tr:nth-child(even){
    background-color: #f2f2f2;
} 
#customers tr:hover {
    background-color: #ddd;
}
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #252932;
    color: white;
}
.text-table{
    color:black;
    text-decoration: none;
    transition: 0.5s;
}
.text-table:hover{
    color: crimson;
    text-decoration: underline;
    transition: 0.5s;
}

/*...Elementos...*/

.view-element{
    padding: 500px;
}

/*...Formularios...*/
.forms{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    background: linear-gradient(#fefcff, silver );
}
.forms h1{
    text-align: center;
    margin-bottom: 30px;
    color: #6f72e7;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttonreg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background: linear-gradient(30deg,#6f72e7,#fa67b5);
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 20px;
    border-radius: 6px;
    border: 3px solid black;
    transition: 1.5s;
}
.buttonreg:hover{
    color:crimson;
    background: white;
    transition: 1.5s;
}
.form-group input[type="text"]{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    margin-top: 10px;
    padding: 15px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6f72e7;
    color: white;
    border-radius: 10px;
    border: solid 3px black;
    transition: 1.2s;
}
.form-group input[type="number"]{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 320px;
    padding: 15px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6f72e7;
    color: white;
    border-radius: 10px;
    border: solid 3px black;
    transition: 1.2s;
}
.form-group input[type="file"]{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 15px 50px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6f72e7;
    color: white;
    border-radius: 10px;
    border: solid 3px black;
    transition: 1.2s;
}
.form-group textarea{
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    margin-top: 15px;
    height: 150px;
    padding: 10px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6f72e7;
    color: white;
    border-radius: 10px;
    border: solid 3px black;
    transition: 1.2s;
}
.form-group input:hover{
    background: black;
    transition: 1.2s;
}
.form-group textarea:hover{
    background: black;
    transition: 1.2s;
}

/*...Fondos...*/

.page-forms{
    background: linear-gradient(30deg,#6f72e7,#67fa67);
    /*background: url('../img/Wallpappers/White.png');*/
}